<!--<script src="../Scripts/angular.js"></script>
<script src="../Scripts/LibraryService/Service.js"></script>
<script src="../Scripts/MyApp/Search/BookSearch.js"></script>

<div ng-app="LibraryModule" ng-controller="BookSearchCtrl">-->
    <table >
        <tr>
            <td>ID</td>
            <td>Desk</td>
            <td>Shelf</td>
            
        </tr>

        <tr>
            <td>{{book.ID}}</td>
            <td>{{bookShefs.Desks.DeskName}}</td>
            <td>{{bookShefs.Shelf.ShelfName}}</td>
            

        </tr>
    </table>
<!--</div>-->