<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../Scripts/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="../Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail pull-left">
                <a href="Home.html">
                    <img src="../Image/education4.png" alt="Libraty" title="Central Library" width="80" height="80" />
                    <div class="caption">
                        <p>Central Liubrary</p>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
    <div class="well" style="color:green"><marquee behavior="scroll" direction="left"><b>Library Management System.  Created by : Mahfuz, Samir, Yasin</b></marquee></div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="Index.html">
                    <img src="../Image/imassges.png" alt="search" width="80" height="80" />
                    <div style="text-align:center" class="caption">
                        <p>Search Book</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="AdvanceSearch.html">
                    <img src="../Image/executivesearch-320x320.png" alt="Advanced search" width="80" height="80" />
                    <div style="text-align:center" class="caption">
                        <p>Advanced Search Book</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="AdminPanel.html">
                    <img src="../Image/Admin/Users-Find-User-icon.png" alt="advanced search" width="80" height="80" />
                    <div style="text-align:center" class="caption">
                        <p>Addmin Panel</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                
            </div>
        </div>
    </div>
    
</body>
</html>
